*.classpath
*.project
*.log
.settings/
target/
lib/
classes/
.idea/
*.iml
*.ipr
*.iws
structlog4j-api/target/
structlog4j-extend/target/
structlog4j-test-base/target/
core/target/
update-config.properties
mvnw
mvnw.cmd
application.properties